@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@800&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Roboto Condensed", sans-serif;

  --main-font: "Roboto Condensed", sans-serif;
  --accent-font: "Playfair Display", serif;

  --avenu-sarkana: #9e004f;
  --dabas-zala: #8f9a50;
  --mala-bruna: #af4836;
  --debess-zila: #548eaf;
  --akmens-peleka: #616359;
  --smilsu-dzeltena: #d9992d;
  --white: #ffffff;
  --white-darker: #ebebec;
  --black: #231f20;
  --black-transparent: rgba(5, 5, 5, 0.7);
  --white-transparent: rgba(255, 255, 255, 0.5);
  --black-lighter: #4d4d4f;
}

body {
  background-image: url("https://rucka.vercel.app/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--avenu-sarkana);
  /* height: 100vh; */
}
